body {
  margin: 0;
}

/* App styles   */
.App {
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/* Nav-bar styles */

#nav-logo {
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
}
.nav-bar-img {
  margin-left: 2%;
  margin-top: 2%;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}
.nav-bar-links {
  width: 100%;
  height: 64px;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.nav-line-2 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

ul {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li {
  display: inline;
  float: left;
  padding-left: 5%;
}

input {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}
.nav-bag {
  margin-right: 7.5%;
  margin-left: 2.5%;
  position: relative;
}
.bag-img {
  height: 32px;
}
.bag-btn {
  background-color: black;
  color: black;
  border-style: none;
  position: absolute;
  top: 0;
  left: 0;
}
.inverted {
  filter: invert(100%);
}
.cart-item-count {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  line-height: 18px;
  background: #1e80b7;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: -2px;
  left: 22px;
  z-index: 10;
}
/* product-detail styles */
.product-detail {
  display: flex;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
}
.pd-col-1 {
  width: 75%;
  padding: 1%;
  height: 530px;
  background-color: #ebeff1;
  align-items: flex-center;
}

.pd-col-2 {
  flex-direction: column;
  width: 25%;
  padding: 2%;
}
.piImage {
  width: 530px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-reviews {
  text-decoration: underline;
  color: black;
}

.product-reviews:hover {
  color: white;
  background-color: black;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
select {
  height: 50px;
  justify-content: space-between;
  line-height: 20px;
  margin: 2%;
  padding: 0 20px;
  border: 1px solid black;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  background: url(https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/down-bottom-arrow-512.png)
    no-repeat; /* Add custom arrow */
  background-size: 14px;
  background-position: 85% 50%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
#size-dd {
  width: 55%;
}

#qty-dd {
  width: 30%;
}

.add-to-bag {
  width: 70%;
  padding-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.action-btn {
  text-transform: uppercase;
  background-color: black;
  border-color: black;
  color: white;
  -webkit-border-radius: 0px;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  justify-content: space-between;
  line-height: 20px;
  padding: 0 20px;
  width: 100%;
  box-shadow: 2px 2px white, 3px 3px black;
}

button.disabled {
  background-color: white;
  color: black;
  box-shadow: none;
}

#button-text {
  display: inline-block;
  padding-right: 10%;
}
#button-right-arrow {
  padding-left: 30%;
}

.like-button {
  margin: 2%;
  width: 49px;
  text-align: center;
  display: block;
}
.like-img {
  padding: 20%;
}

.del-button {
  margin: 2%;
  width: 49px;
  text-align: center;
  display: block;
}
.del-img {
  padding: 20%;
}

/* Cart-page styles */
.cart-page {
  margin-top: 3%;
  margin-left: 10%;
}
.cart-total {
  margin: 2% 0%;
  line-height: 16px;
}
.cart-container {
  display: flex;
  flex-direction: row;
}
.cart-col1 {
  width: 56.3%;
}

.cart-get-started {
  width: 18%;
}
.cart-col2 {
  width: 28%;
  margin-left: 4%;
}

.product-card {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
}
.pcImage {
  width: 240px;
}
.product-card-dtls {
  margin-left: 3%;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}
.product-descr {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  font-weight: lighter;
}

.prd-desc-text {
  margin-top: 3%;
  width: 90%;
}
.prd-price {
  margin-top: 3%;
  margin-right: 2%;
}
span.emph {
  font-weight: 800;
}

span.caps {
  text-transform: uppercase;
}
p.prd-desc-text {
  margin: 0;
}

.prd-action-container {
  margin-right: 2%;
}

.cart-action-container {
  display: flex;
  margin-top: 5%;
}
.cart-action-filler {
  margin: 0% 3%;
}

.side-action-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.order-summary-panel {
  border: 1px solid #ecedee;
  margin-top: 15%;
  padding: 2% 5%;
  text-transform: uppercase;
}

.promo-code {
  margin-top: 5%;
}

table {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

td:nth-child(1) {
  width: 80%;
}

/* the second */
td:nth-child(2) {
  text-align: right;
  width: 20%;
}
/* last row */
tr:last-child {
  font-weight: 800;
}
